<div>&nbsp;</div>
<h3>Chatter for your company's external website.</h3>

<p class="explanation-text">Product information sites for customers are often boring, static sites.  With no visible customer interaction, how does a prospect know that the product has reference customers?  How do they learn from other customers with similar applications?  How do they benefit from the dialog going on between your sales team and other customers?  What happens when a product or service changes - how do existing users find out about it?</p>
	
<p class="explanation-text">This application demonstrates how Chatter can be integrated into a traditional product information site to make it social.</p>

<p class="explanation-text"> Inside ACME Electric Engines' Salesforce organization there's a custom object record for each of product that the company sells.  The custom object record "Engines" contains a description of the product and its specifications along with a Chatter feed.</p>
	
<p class="explanation-text">When an engine's specifications are updated on the custom object, tracked changes show up in the feed, notifying buyers that have designed the engine into their systems that there may be impacts. The product information site's product description and specifications are pulled from the Salesforce record using the REST API, so there's one source of truth and the product information site is always up to date.</p> 

<p class="explanation-text">New buyers considering the product can ask questions that are dropped into the Salesforce record feed.  This allows Salesforce users following the record to answer questions and see what additional features buyers might want.  Buyers can read and search the discussion around a specific product to benefit from previously answered questions and answers.  The record feed is extracted using the Chatter REST API.
</p>

<p class="explanation-text">Here's what the application looks like inside the Chatter group.  See the <a href="http://developer.force.com/chatter-api">Chatter REST API resource page</a> for more information.</p>
<div>
 <%= image_tag "/images/inside-the-org.png" %> 
</div>
<div>&nbsp;</div>
<p>A user called "Question" has been created in the group that proxies external users.</p>